{{#each members}}
  <section class="ui stacked segment">
    <div class = "ui segment">
  <h2 class="ui header">
      {{name}}
      
    </h2>
    
   <p> Number of Assessments: {{assessment.size}} </p>
    <a href="/trainerdashboard/trainerAssessments/{{id}}" class="ui icon button">
      <i class="icon folder open"></i>
    </a>
    <a href="/trainerdashboard/deletemember/{{id}}" class="ui icon button">
      <i class="icon trash"></i>
    </a>
  </section>
{{/each}}