<nav class="ui menu">
  <header class="ui header item"> Glitch Gym </header>
  <div class="right menu">
    <a id="dashboard" class="item" href="/dashboard"> Dashboard  </a>
    <a id="about" class="item" href="/about"> About </a>
    <div class="right menu">
      <div class="ui dropdown item">
        <i class="user icon"></i>
        <div class="menu">
           <a id="settings" class="item" href="settings">
             <i class="pencil alternate icon"></i></a>
                    <a class="item" href="/logout">Logout</a>  
          <!--           this is a link that triggers the Logout route component -->
        </div>
      </div>
    </div>
  </div>
</nav>
<script>
  $("#{{id}}").addClass("active item");
  $('.ui.dropdown').dropdown();
</script>
<!-- script to dynamically change the active menu item -->
