<nav class="ui menu">
  <header class="ui header item"> Glitch Gym Trainer </header>
  <div class="right menu">
    <a id="trainerdashboard" class="item" href="/trainerdashboard"> Trainer Dashboard  </a>
    <a id="logout" class="item" href="/logout"> Logout </a>
  </div>
</nav>

<script>
  $("#${_id}").addClass("active item");
</script>