{{> welcomemenu }}

<section class="ui center aligned middle aligned segment">
  <p> Welcome to Glitch Gym... </p>
   <img src ="https://cdn.glitch.com/ea219886-3b0f-462e-a231-7e154065e78e%2Fglitch-gym.jpg?v=1596634833465"/>
</section>