{{> welcomemenu id='login' }}

<form class="ui stacked segment form" action="/authenticate" method="POST">
  <h3 class="ui header">Log-in</h3>
  <div class="field">
    <label>Email</label> <input placeholder="Email" name="email">
  </div>
  <div class="field">
    <label>Password</label> <input type="password"  name="password">
  </div>
  <button class="ui blue submit button">Login</button>
  <img src ="https://cdn.glitch.com/ea219886-3b0f-462e-a231-7e154065e78e%2Fwherecanifindtheplaystore.webp?v=1596632609795"/>
</form>