{{> trainermenu id="trainerAssessments"}}
<section class="ui center aligned middle aligned segment">
  <h2 class="ui header">
    {{member.name}}
  </h2>
    {{> analytics}} 
  
<!--   for each loop iterate through each element of the assessments array -->
  {{#each assessments}}
  {{> assessment-table-comment}}
  {{/each}}
</section>